<html>
<head>
   <title>time table</title>
</head>
<body bgcolor="skyblue">
<H1><FONT COLOR="DARKCYAN"><CENTER>COLLEGE TIME TABLE</FONT></H1>
<table border="2" cellspacing="3" align="center">
<tr>
 <td align="center">
 <td>8:30-9:30
 <td>9:30-10:30
 <td>10:3-11:30
 <td>11:30-12:30
 <td>12:30-2:00
 <td>2:00-3:00
 <td>3:00-4:00
 <td>4:00-5:00
</tr>
 {% for i in data %}
<tr>
 <td align="center">{{i.day}}
 <td align="center">{{i.first}}<br>
 {% if i.day != 'SATURDAY' %}
 <td align="center"><font color="blue">{{i.second}}<br>
 <td align="center"><font color="pink">{{i.third}}<br>
 <td align="center"><font color="red">{{i.fourth}}<br>
 {% endif %}
 {% if i.day == 'WEDNESDAY' %}
 <td colspan="3"><center>
  {{i.sixth}}
</center></td>
 {% endif %}
 {% if i.day == 'SATURDAY' %}
 <td colspan="3"><center>
  {{i.second}}
 </center></td>
 {% endif %}
  {% if i.day == 'MONDAY' %}
  <td rowspan="10" align="center">L<br>U<br>N<br>C<br>H
  {% endif %}
 {% if i.day != 'WEDNESDAY' %}
 <td align="center"><font color="maroon">{{i.sixth}}<br>
 <td align="center"><font color="brown">{{i.seventh}}<br>
 <td align="center">{{i.eighth}}
 {% endif %}
 <form method="post" action="{% url 'edit' i.id %}">{% csrf_token %}
 <td><button type="submit">Edit</button></td>
 </form>
 <form action="{% url 'delete' i.id %}" method="post">{% csrf_token %}
 <td> <button type="submit">Delete</button></td>
  </form>
</tr>
 {% endfor %}

    <br><center><a href="/logout"><button type="button"> Logout </button></a><br>
     <br><a href="/add"><button type="button">Add Table</button></a></center><br>
</body>
</html>